.mui-container {
  background-color: gray;
  width: 462px;
  padding-top: 15px;
}
.mui-panel {
  border: 1px solid black;
  width: 400px;
}
.mui-form {
  border: 1px solid black;
}
.mui-textfield {
  padding-left: 10px;
  padding-right: 10px;
}
.mui-btn {
  margin-left: 10px;
  margin-bottom: 20px;
}
